Backup/ClickAndTravelSearchEngine/Service References/SF_service/SF_service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Search_Full_Momondo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="tns:Route" />
            <s:element minOccurs="1" maxOccurs="1" name="adult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="children" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="is_rambler" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Route">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Segments" type="tns:ArrayOfRouteSegment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRouteSegment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RouteSegment" nillable="true" type="tns:RouteSegment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RouteSegment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationBegin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationEnd" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search_Full_MomondoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_Full_MomondoResult" type="tns:SearchResultFlights" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResultFlights">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsFinished" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flights" type="tns:ArrayOfFlight" />
          <s:element minOccurs="1" maxOccurs="1" name="SearchId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Flight">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Airline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirlineCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeLimit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parts" type="tns:ArrayOfFlightPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlightPart">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlightPart" nillable="true" type="tns:FlightPart" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlightPart">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FlightLong" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Legs" type="tns:ArrayOfLeg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLeg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Leg" nillable="true" type="tns:Leg" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Leg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BookingClass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Airline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirportBeginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirportEndName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationBeginName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationBegin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationEndName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationEnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateBegin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateEnd" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Board" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BoardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RemarksSearchContext" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search_Full">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="tns:Route" />
            <s:element minOccurs="1" maxOccurs="1" name="adult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="children" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="is_rambler" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_FullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_FullResult" type="tns:SearchResultFlights" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_Full_JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="tns:Route" />
            <s:element minOccurs="1" maxOccurs="1" name="adult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="children" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceClass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="course" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_Full_JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_Full_JSONResult" type="tns:SearchResultFlightsJson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResultFlightsJson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Flights" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Search_First">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="tns:Route" />
            <s:element minOccurs="1" maxOccurs="1" name="adult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="children" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceClass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="my_search_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_FirstResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_FirstResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsFinished" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fares" type="tns:ArrayOfFare" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFare">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fare" nillable="true" type="tns:Fare" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fare">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Airline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirlineCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Directions" type="tns:ArrayOfDirection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDirection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Direction" nillable="true" type="tns:Direction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Direction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Variants" type="tns:ArrayOfVariant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfVariant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Variant" nillable="true" type="tns:Variant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Variant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FlightTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Legs" type="tns:ArrayOfLeg" />
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="tns:Route" />
            <s:element minOccurs="1" maxOccurs="1" name="adult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="children" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceClass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_First_JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="route" type="tns:Route" />
            <s:element minOccurs="1" maxOccurs="1" name="adult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="children" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="inf" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceClass" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="course" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search_First_JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Search_First_JSONResult" type="tns:SearchResultJson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SearchResultJson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Changes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Airports" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fares" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Airlines" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsFinished" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCurrentState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCurrentStateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentResults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentResultsResult" type="tns:SearchResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentResultsFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentResultsFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentResultsFlightsResult" type="tns:SearchResultFlights" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentResultsJson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="course" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentResultsJsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentResultsJsonResult" type="tns:SearchResultJson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WaitSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WaitSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WaitSearchResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Flight_Details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flightToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Flight_DetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Flight_DetailsResult" type="tns:ArrayOfFlightDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFlightDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlightDetails" nillable="true" type="tns:FlightDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlightDetails">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="Code" type="s:string" />
            <s:attribute name="Number" type="s:string" />
            <s:attribute name="Title" type="s:string" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:element name="GetFlightInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flightToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightInfoResult" type="tns:Flight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flightToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="searchId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightResult" type="tns:Flight" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="flightToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer" />
            <s:element minOccurs="0" maxOccurs="1" name="passengers" type="tns:ArrayOfPassenger" />
            <s:element minOccurs="1" maxOccurs="1" name="tour_end_date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPassenger">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Passenger" nillable="true" type="tns:Passenger" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Passenger">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Citizen" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birth" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pasport" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Passport_expire_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FrequentFlyerAirline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FrequentFlyerNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BookFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BookFlightResult" type="tns:BookingResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BookingResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="timer" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hashes" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CheckFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckFlightsResult" type="tns:ArrayOfPriceLink" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPriceLink">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PriceLink" nillable="true" type="tns:PriceLink" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PriceLink">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Clearing">
        <s:complexType />
      </s:element>
      <s:element name="ClearingResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Search_Full_MomondoSoapIn">
    <wsdl:part name="parameters" element="tns:Search_Full_Momondo" />
  </wsdl:message>
  <wsdl:message name="Search_Full_MomondoSoapOut">
    <wsdl:part name="parameters" element="tns:Search_Full_MomondoResponse" />
  </wsdl:message>
  <wsdl:message name="Search_FullSoapIn">
    <wsdl:part name="parameters" element="tns:Search_Full" />
  </wsdl:message>
  <wsdl:message name="Search_FullSoapOut">
    <wsdl:part name="parameters" element="tns:Search_FullResponse" />
  </wsdl:message>
  <wsdl:message name="Search_Full_JSONSoapIn">
    <wsdl:part name="parameters" element="tns:Search_Full_JSON" />
  </wsdl:message>
  <wsdl:message name="Search_Full_JSONSoapOut">
    <wsdl:part name="parameters" element="tns:Search_Full_JSONResponse" />
  </wsdl:message>
  <wsdl:message name="Search_FirstSoapIn">
    <wsdl:part name="parameters" element="tns:Search_First" />
  </wsdl:message>
  <wsdl:message name="Search_FirstSoapOut">
    <wsdl:part name="parameters" element="tns:Search_FirstResponse" />
  </wsdl:message>
  <wsdl:message name="InitSearchSoapIn">
    <wsdl:part name="parameters" element="tns:InitSearch" />
  </wsdl:message>
  <wsdl:message name="InitSearchSoapOut">
    <wsdl:part name="parameters" element="tns:InitSearchResponse" />
  </wsdl:message>
  <wsdl:message name="Search_First_JSONSoapIn">
    <wsdl:part name="parameters" element="tns:Search_First_JSON" />
  </wsdl:message>
  <wsdl:message name="Search_First_JSONSoapOut">
    <wsdl:part name="parameters" element="tns:Search_First_JSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentStateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentState" />
  </wsdl:message>
  <wsdl:message name="GetCurrentStateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentResultsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentResults" />
  </wsdl:message>
  <wsdl:message name="GetCurrentResultsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentResultsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentResultsFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentResultsFlights" />
  </wsdl:message>
  <wsdl:message name="GetCurrentResultsFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentResultsFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentResultsJsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentResultsJson" />
  </wsdl:message>
  <wsdl:message name="GetCurrentResultsJsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentResultsJsonResponse" />
  </wsdl:message>
  <wsdl:message name="WaitSearchSoapIn">
    <wsdl:part name="parameters" element="tns:WaitSearch" />
  </wsdl:message>
  <wsdl:message name="WaitSearchSoapOut">
    <wsdl:part name="parameters" element="tns:WaitSearchResponse" />
  </wsdl:message>
  <wsdl:message name="Flight_DetailsSoapIn">
    <wsdl:part name="parameters" element="tns:Flight_Details" />
  </wsdl:message>
  <wsdl:message name="Flight_DetailsSoapOut">
    <wsdl:part name="parameters" element="tns:Flight_DetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlightInfo" />
  </wsdl:message>
  <wsdl:message name="GetFlightInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetFlightSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlight" />
  </wsdl:message>
  <wsdl:message name="GetFlightSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightResponse" />
  </wsdl:message>
  <wsdl:message name="BookFlightSoapIn">
    <wsdl:part name="parameters" element="tns:BookFlight" />
  </wsdl:message>
  <wsdl:message name="BookFlightSoapOut">
    <wsdl:part name="parameters" element="tns:BookFlightResponse" />
  </wsdl:message>
  <wsdl:message name="CheckFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckFlights" />
  </wsdl:message>
  <wsdl:message name="CheckFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="ClearingSoapIn">
    <wsdl:part name="parameters" element="tns:Clearing" />
  </wsdl:message>
  <wsdl:message name="ClearingSoapOut">
    <wsdl:part name="parameters" element="tns:ClearingResponse" />
  </wsdl:message>
  <wsdl:portType name="SF_serviceSoap">
    <wsdl:operation name="Search_Full_Momondo">
      <wsdl:input message="tns:Search_Full_MomondoSoapIn" />
      <wsdl:output message="tns:Search_Full_MomondoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_Full">
      <wsdl:input message="tns:Search_FullSoapIn" />
      <wsdl:output message="tns:Search_FullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_Full_JSON">
      <wsdl:input message="tns:Search_Full_JSONSoapIn" />
      <wsdl:output message="tns:Search_Full_JSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_First">
      <wsdl:input message="tns:Search_FirstSoapIn" />
      <wsdl:output message="tns:Search_FirstSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitSearch">
      <wsdl:input message="tns:InitSearchSoapIn" />
      <wsdl:output message="tns:InitSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search_First_JSON">
      <wsdl:input message="tns:Search_First_JSONSoapIn" />
      <wsdl:output message="tns:Search_First_JSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentState">
      <wsdl:input message="tns:GetCurrentStateSoapIn" />
      <wsdl:output message="tns:GetCurrentStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResults">
      <wsdl:input message="tns:GetCurrentResultsSoapIn" />
      <wsdl:output message="tns:GetCurrentResultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResultsFlights">
      <wsdl:input message="tns:GetCurrentResultsFlightsSoapIn" />
      <wsdl:output message="tns:GetCurrentResultsFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResultsJson">
      <wsdl:input message="tns:GetCurrentResultsJsonSoapIn" />
      <wsdl:output message="tns:GetCurrentResultsJsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WaitSearch">
      <wsdl:input message="tns:WaitSearchSoapIn" />
      <wsdl:output message="tns:WaitSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Flight_Details">
      <wsdl:input message="tns:Flight_DetailsSoapIn" />
      <wsdl:output message="tns:Flight_DetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightInfo">
      <wsdl:input message="tns:GetFlightInfoSoapIn" />
      <wsdl:output message="tns:GetFlightInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <wsdl:input message="tns:GetFlightSoapIn" />
      <wsdl:output message="tns:GetFlightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <wsdl:input message="tns:BookFlightSoapIn" />
      <wsdl:output message="tns:BookFlightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckFlights">
      <wsdl:input message="tns:CheckFlightsSoapIn" />
      <wsdl:output message="tns:CheckFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Clearing">
      <wsdl:input message="tns:ClearingSoapIn" />
      <wsdl:output message="tns:ClearingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SF_serviceSoap" type="tns:SF_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search_Full_Momondo">
      <soap:operation soapAction="http://tempuri.org/Search_Full_Momondo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Full">
      <soap:operation soapAction="http://tempuri.org/Search_Full" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Full_JSON">
      <soap:operation soapAction="http://tempuri.org/Search_Full_JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_First">
      <soap:operation soapAction="http://tempuri.org/Search_First" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitSearch">
      <soap:operation soapAction="http://tempuri.org/InitSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_First_JSON">
      <soap:operation soapAction="http://tempuri.org/Search_First_JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentState">
      <soap:operation soapAction="http://tempuri.org/GetCurrentState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResults">
      <soap:operation soapAction="http://tempuri.org/GetCurrentResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResultsFlights">
      <soap:operation soapAction="http://tempuri.org/GetCurrentResultsFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResultsJson">
      <soap:operation soapAction="http://tempuri.org/GetCurrentResultsJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitSearch">
      <soap:operation soapAction="http://tempuri.org/WaitSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flight_Details">
      <soap:operation soapAction="http://tempuri.org/Flight_Details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightInfo">
      <soap:operation soapAction="http://tempuri.org/GetFlightInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <soap:operation soapAction="http://tempuri.org/GetFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <soap:operation soapAction="http://tempuri.org/BookFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFlights">
      <soap:operation soapAction="http://tempuri.org/CheckFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clearing">
      <soap:operation soapAction="http://tempuri.org/Clearing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SF_serviceSoap12" type="tns:SF_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Search_Full_Momondo">
      <soap12:operation soapAction="http://tempuri.org/Search_Full_Momondo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Full">
      <soap12:operation soapAction="http://tempuri.org/Search_Full" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_Full_JSON">
      <soap12:operation soapAction="http://tempuri.org/Search_Full_JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_First">
      <soap12:operation soapAction="http://tempuri.org/Search_First" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitSearch">
      <soap12:operation soapAction="http://tempuri.org/InitSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search_First_JSON">
      <soap12:operation soapAction="http://tempuri.org/Search_First_JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentState">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResults">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResultsFlights">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentResultsFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentResultsJson">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentResultsJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitSearch">
      <soap12:operation soapAction="http://tempuri.org/WaitSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Flight_Details">
      <soap12:operation soapAction="http://tempuri.org/Flight_Details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightInfo">
      <soap12:operation soapAction="http://tempuri.org/GetFlightInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlight">
      <soap12:operation soapAction="http://tempuri.org/GetFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookFlight">
      <soap12:operation soapAction="http://tempuri.org/BookFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckFlights">
      <soap12:operation soapAction="http://tempuri.org/CheckFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clearing">
      <soap12:operation soapAction="http://tempuri.org/Clearing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SF_service">
    <wsdl:port name="SF_serviceSoap" binding="tns:SF_serviceSoap">
      <soap:address location="http://online.clickandtravel.ru/SF_Service_MySql_dev/SF_service.asmx" />
    </wsdl:port>
    <wsdl:port name="SF_serviceSoap12" binding="tns:SF_serviceSoap12">
      <soap12:address location="http://online.clickandtravel.ru/SF_Service_MySql_dev/SF_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>